@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #faf7eb;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.title-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.title-image:hover {
    transform: scale(1.05);
}

.title-image:hover .hover-effect {
    display: block;
}

.title-image-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.hover-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    display: none; /* Hidden by default */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 15px;
    border-radius: 8px;
}
